@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Graduate&display=swap');

html{
    border: solid 12px #56483f;
    margin: 12px;
}

body{
    background-color: rgb(177, 166, 151); 
    font-family: "Fredoka", sans-serif;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
    padding: 1em;
}

h1{
    font-family: "Graduate", serif;
    color: rgb(121, 59, 45);
    font-size: 2.5rem; /* write whatever you want 27px */
    line-height: 1.2em;
}

h2{
    color: rgb(147, 105, 114);
    font-size: 1.7rem;
    font-family: "Graduate", serif;
}

p{
    line-height: 1.4em;
}
